<center>

<ul>
<%@bookmarks.each do |bookmark| %>
<li><a href= "<%=bookmark.url%>" > <%=bookmark.title%> </a> </li>
<%end%>
</ul>

<form action='/bookmarks/create' method="post">
  <input type='text' name='bookmark'>
  <input type='text' name='title'>
  <input type='submit' value='add_bookmark'>
  </form>

  <form action='/bookmarks/delete' method="post">
  <input type= 'text' name='delete_title'>
  <input type= 'submit' value='delete'>
  </form>


</center>
