<html>
<center>

<%=@bookmarks%>

<form action='/bookmarks/create' method="post">
  <input type='text' name='new_bookmark'>
  <input type='submit' value='add_bookmark'>
  </form>



</center>
</html>
